@model BLL.App.DTO.DomainEntityDTOs.Video

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YouTubeUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YouTubeUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorChannelLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorChannelLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Song.Author)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
</div>
