@model BLL.App.DTO.SongWithEverything

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpotifyLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotifyLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongKey.Description)
        </dd>
        <dt class="col-sm-2">
            Instruments (<a asp-area="Admin" asp-controller="Instruments" asp-action="AddInstrumentToSong"  asp-route-songId="@Model.Id">Add</a>)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var instrument in Model.Instruments)
                {
                    <li>@instrument.Name <a asp-area="Admin" asp-action="Edit" asp-controller="Instruments" asp-route-id="@instrument.Id">Edit</a> / 
                        <a asp-area="Admin" asp-action="Remove" asp-controller="Instruments" asp-route-songId="@Model.Id" asp-route-instrumentId="@instrument.Id">Remove</a></li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Styles (<a asp-area="Admin" asp-controller="Styles" asp-action="AddStyleToSong"  asp-route-songId="@Model.Id">Add</a>)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var style in Model.Styles)
                {
                    <li>@style.Name <a asp-area="Admin" asp-action="Edit" asp-controller="Styles" asp-route-id="@style.Id">Edit</a> / 
                        <a asp-area="Admin" asp-action="Remove" asp-controller="Styles" asp-route-songId="@Model.Id" asp-route-styleId="@style.Id">Remove</a></li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Chords (<a asp-area="Admin" asp-controller="Chords" asp-action="AddChordToSong"  asp-route-songId="@Model.Id">Add</a>)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var chord in Model.Chords)
                {
                    <li>@chord.Name <a asp-area="Admin" asp-action="Edit" asp-controller="Chords" asp-route-id="@chord.Id">Edit</a> / 
                        <a asp-area="Admin" asp-action="Remove" asp-controller="Chords" asp-route-songId="@Model.Id" asp-route-chordId="@chord.Id">Remove</a></li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
