@model WebApp.Areas.Admin.ViewModels.SongCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.Domain.Common.Edit</h1>

<h4>@Resources.Domain.Common.Song</h4>
<hr />
@*
<h6>@Resources.Domain.Common.ThisSongIs @Model.FoldersCount @Resources.Domain.Common.Folders</h6>
*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Song.Id" />
            <partial name="PartialCreateEdit" model="Model"/>
            <div class="form-group">
                <input type="submit" value="@Resources.Domain.Common.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Domain.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
