@model IEnumerable<BLL.App.DTO.DomainEntityDTOs.Song>
@{
    ViewData["Title"] = "Search";
}
<h1>@Resources.Domain.Common.SearchResult:</h1>
<p>
    <a asp-action="Index">@Resources.Domain.Common.ViewAllSongs</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Resources.Domain.Common.Name
            </th>
            <th>
                @Resources.Domain.Common.SpotifyLink
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongKey)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAndAuthor)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.SpotifyLink)">@Resources.Domain.Common.ListenOnSpotify</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Domain.Common.Details</a>
            </td>
        </tr>
}
    </tbody>
</table>