@model IEnumerable<BLL.App.DTO.DomainEntityDTOs.Song>
@{
    ViewData["Title"] = "Search";
}
<h1>@Resources.Domain.Common.SearchResult:</h1>
<p>
    <a asp-action="Index">@Resources.Domain.Common.ViewAllSongs</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Resources.Domain.Common.Name
            </th>
            <th>
                @Resources.Domain.Common.SpotifyLink
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAndAuthor)
            </td>
            <td>
            <iframe src="https://open.spotify.com/embed/track/@item.SpotifyLink"
                    width="280" height="80" frameborder="0" allowtransparency="true"
                    allow="encrypted-media">@Resources.Domain.Common.ListenOnSpotify</iframe>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Domain.Common.Details</a>
            </td>
        </tr>
}
    </tbody>
</table>