@model BLL.App.DTO.DomainEntityDTOs.Note

@{
    ViewData["Title"] = "Delete";
}

<h1>@Resources.Domain.Common.Delete</h1>

<h3>@Resources.Domain.Common.ConfirmDelete</h3>
<div>
    <h4>@Resources.Domain.Common.Note</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Resources.Domain.Common.Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Resources.Domain.Common.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Resources.Domain.Common.BackToList</a>
    </form>
</div>
