@model IEnumerable<BLL.App.DTO.DomainEntityDTOs.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.Domain.Common.NavNotes</h1>

<p>
    <a asp-action="Create">@Resources.Domain.Common.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Resources.Domain.Common.Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Domain.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Domain.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Domain.Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
