@model IEnumerable<BLL.App.DTO.ChordWithNotes>

@{
    ViewData["Title"] = "Chords";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Resources.Domain.Common.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShapePicturePath)
            </th>
            <th>
                Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChordName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShapePicturePath)
            </td>
            <td>
                <ul>
                    @foreach (var note in item.Notes)
                    {
                        <li>@note.Name</li>
                    }
                </ul>
            </td>
            <td>
                <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Id">@Resources.Domain.Common.Edit</a> |
                <a asp-area="Admin" asp-action="Details" asp-route-id="@item.Id">@Resources.Domain.Common.Details</a> |
                <a asp-area="Admin" asp-action="Delete" asp-route-id="@item.Id">@Resources.Domain.Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
