@model BLL.App.DTO.DomainEntityDTOs.Chord

@{
    ViewData["Title"] = "Create";
}

    <h1>@Resources.Domain.Common.Create</h1>

    <h4>@Resources.Views.Shared._Layout.Chord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Resources.Domain.Chord.Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShapePicturePath" class="control-label">@Resources.Domain.Chord.ShapePicturePath</label>
                <input asp-for="ShapePicturePath" class="form-control" />
                <span asp-validation-for="ShapePicturePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Domain.Common.Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Domain.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
