@model BLL.App.DTO.DomainEntityDTOs.Instrument

@{
    ViewData["Title"] = "Details";
}

<h1>@Resources.Domain.Common.Details</h1>

<div>
    <h4>@Resources.Domain.Common.Instrument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @Resources.Domain.Common.Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Resources.Domain.Common.Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Resources.Domain.Common.Edit</a> |
    <a asp-action="Index">@Resources.Domain.Common.BackToList</a>
</div>
