@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Learn2Play</title>

    <environment include="Development">
      <!-- Font Awesome Icons -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <!-- IonIcons -->
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
      <!-- Google Font: Source Sans Pro -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment exclude="Development">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
            crossorigin="anonymous">
    </environment>
    <link rel="stylesheet" href="~/css/site.css"/>
    @RenderSection("CSS", required: false)
    @RenderSection("HeaderScripts", required: false)
</head>
<body class="hold-transition sidebar-open">
<div class="wrapper">
  <header>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-sm bg-blue-sky navbar-light border-bottom">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>

      <!-- SEARCH FORM -->
      <form asp-area="Admin" asp-controller="Songs" asp-action="Search" class="form-inline ml-3">
        <div class="input-group input-group-sm">
          <label>
            <input class="form-control form-control-navbar" placeholder="Search songs" type="text" name="search"/>
          </label>
          <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      @*<!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
    </ul>*@
      <partial name="_LoginPartial"/>
    </nav>
    <!-- /.navbar -->
  </header>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="brand-link text-light">
      <i class="fas fa-guitar"></i>
      <span class="brand-text font-weight-light"><b>Learn2</b>Play | Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a asp-area="Admin" asp-controller="Songs" asp-action="Index" class="nav-link">
              <i class="fas fa-music"></i>
              <p>
                Add Song
                <i class="right fas fa-plus"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-closed">
            <a href="#" class="nav-link active">
              <i class="fas fa-database"></i>
              <p>
                Basic CRUD
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a asp-area="Admin" asp-controller="Styles" asp-action="Index" class="nav-link">
                  <i class="fas fa-caret-right"></i>
                  <p>Styles</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-area="Admin" asp-controller="Instruments" asp-action="Index" class="nav-link">
                  <i class="fas fa-caret-right"></i>
                  <p>Instruments</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-area="Admin" asp-controller="Chords" asp-action="Index" class="nav-link">
                  <i class="fas fa-caret-right"></i>
                  <p>Chords</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-users-cog"></i>
              <p>
                Manage Users
                <span class="right badge badge-danger">:TODO</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-cogs"></i>
              <p>
                Settings
                <span class="right badge badge-danger">:TODO</span>
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>

  <div class="content-wrapper">
    <partial name="_CookieConsentPartial"/>
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
    
  </div>
  <footer class="border-top main-footer text-muted">
    <div class="container">
      <div>&copy; 2019 - Learn2Play - <a asp-area="Admin" asp-controller="Home" asp-action="Privacy">@Resources.Views.Shared._Layout.Privacy</a></div>
      <div>UICulture: @CultureInfo.CurrentUICulture.Name Culture: @CultureInfo.CurrentUICulture.Name</div>
      <div><partial name="_LanguageSelectionPartial"/></div>
    </div>
  </footer>
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
    </script>
</environment>
<script src="~/AdminLTE/dist/js/adminlte.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
